In [1]:
from pymongo import MongoClient  
    
# creation of object MongoClient  
client=MongoClient()  
    
# Connect with the portnumber and host  
client = MongoClient("mongodb://localhost:27017/")  
    
# Access database  
mydatabase = client['Students']  
    
# Access collection of the database  
collection=mydatabase['studentscores']  
data = [ 
    {"user":"Samir", "subject":"Database", "score":80}, 
    {"user":"Suchit",  "subject":"JavaScript", "score":90}, 
    {"user":"Sanket",  "title":"Database", "score":85}, 
    {"user":"Sanket",  "title":"JavaScript", "score":75}, 
    {"user":"Samir",  "title":"Data Science", "score":60},
    {"user":"Suchit",  "title":"Data Science", "score":95}] 
  
collection.insert_many(data)

In [4]:
### Find Samir, Suchit, Sanket Total Subjects
agg_result= collection.aggregate( 
    [{ 
    "$group" :  
        {"_id" : "$user",  
         "Total Subject" : {"$sum" : 1} 
         }} 
    ])

In [5]:
for i in agg_result: 
    print(i)

{'_id': 'Samir', 'Total Subject': 2}
{'_id': 'Suchit', 'Total Subject': 2}
{'_id': 'Sanket', 'Total Subject': 2}

In [6]:
### Calculating the total score based on user
agg_result= collection.aggregate( 
    [{ 
    "$group" :  
        {"_id" : "$user",  
         "Total Marks" : {"$sum" :"$score"} 
         }} 
    ]) 
for i in agg_result: 
    print(i)

{'_id': 'Samir', 'Total Marks': 140}
{'_id': 'Suchit', 'Total Marks': 185}
{'_id': 'Sanket', 'Total Marks': 160}

In [7]:
### Calculating the average score based on user
agg_result=collection.aggregate([
   {
      "$group": {
         "_id": '$user',
         "StudentScoreAverage": {
            "$avg": "$score"
         }
      }
   }
])
for i in agg_result: 
    print(i)

{'_id': 'Samir', 'StudentScoreAverage': 70.0}
{'_id': 'Suchit', 'StudentScoreAverage': 92.5}
{'_id': 'Sanket', 'StudentScoreAverage': 80.0}

In [8]:
import datetime as datetime

In [17]:
### Create a new collection
data=[{ "_id" : 1, "item" : "pizza", "price" : 10, "quantity" : 2, "date" : datetime.datetime.utcnow()},
{ "_id" : 2, "item" : "buger", "price" : 20, "quantity" : 1, "date" : datetime.datetime.utcnow() },
{ "_id" : 3, "item" : "sandwich", "price" : 5, "quantity" : 5, "date" : datetime.datetime.utcnow() },
{ "_id" : 4, "item" : "pasta", "price" : 10, "quantity" : 10, "date" : datetime.datetime.utcnow() },
{ "_id" : 5, "item" : "icecream", "price" : 5, "quantity" : 10, "date" :datetime.datetime.utcnow() }]

In [18]:
data

[{'_id': 1,
  'item': 'pizza',
  'price': 10,
  'quantity': 2,
  'date': datetime.datetime(2022, 12, 27, 14, 20, 26, 865985)},
 {'_id': 2,
  'item': 'buger',
  'price': 20,
  'quantity': 1,
  'date': datetime.datetime(2022, 12, 27, 14, 20, 26, 865985)},
 {'_id': 3,
  'item': 'sandwich',
  'price': 5,
  'quantity': 5,
  'date': datetime.datetime(2022, 12, 27, 14, 20, 26, 865985)},
 {'_id': 4,
  'item': 'pasta',
  'price': 10,
  'quantity': 10,
  'date': datetime.datetime(2022, 12, 27, 14, 20, 26, 865985)},
 {'_id': 5,
  'item': 'icecream',
  'price': 5,
  'quantity': 10,
  'date': datetime.datetime(2022, 12, 27, 14, 20, 26, 865985)}]

In [20]:
mycollection=mydatabase['stores']  
mycollection.insert_many(data)

In [21]:
### Calculating the average quantity And Average Price
agg_result=mycollection.aggregate([
   {
      "$group": {
         "_id": '$item',
         "avgAmount": {"$avg": {"$multiply": [ "$price", "$quantity" ]}},
          "avgQuantity": { "$avg": "$quantity" }
      }
   }
])
for i in agg_result: 
    print(i)

{'_id': 'buger', 'avgAmount': 20.0, 'avgQuantity': 1.0}
{'_id': 'pasta', 'avgAmount': 100.0, 'avgQuantity': 10.0}
{'_id': 'sandwich', 'avgAmount': 25.0, 'avgQuantity': 5.0}
{'_id': 'icecream', 'avgAmount': 50.0, 'avgQuantity': 10.0}
{'_id': 'pizza', 'avgAmount': 20.0, 'avgQuantity': 2.0}

In [26]:
#### $Project

data=[{
  "_id" : 1,
  "title": "Mongo DB",
  "isbn": "0001122223334",
  "author": { "last": "zzz", "first": "aaa" },
  "copies": 5
},
{
  "_id" : 2,
  "title": "Python",
  "isbn": "9999999999999",
  "author": { "last": "xyz", "first": "abc", "middle": "" },
  "copies": 2
}
]

In [27]:
# Access collection of the database  
collection=mydatabase['books']

In [28]:
collection.insert_many(data)

In [29]:
for row in collection.aggregate( [ { "$project": { "title": 1,"isbn":1 } } ] ):
    print(row)

{'_id': 1, 'title': 'Mongo DB', 'isbn': '0001122223334'}
{'_id': 2, 'title': 'Python', 'isbn': '9999999999999'}